{% extends "layout.html" %}
{% block script %}

{% endblock script %}


{% block my_content %}
<head>
    <link rel="stylesheet" href="flask_app/web/templates/styles.css">
</head>
<!-- Altair plot placeholder -->
<div class="card card-dark">
    <div class="card-header border-0">
      <h3 class="card-title">Modeling Food Security in relation to GDP and Surface Temperature Change</h3>
      <div class="card-tools">
        <!-- Buttons, labels, and many other things can be placed here! -->
        <!-- Here is a label for example -->
        <span class="badge badge-primary">model</span>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body" id="plot_chlorepleth">
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      Surface temperature plays a big role in predicting food insecurity. As we can see as the temperature change increases. So does food insecurity. Particularly various countries in Africa see a significant impact due to global warming.
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->

<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: { export: false, source: false, editor: false},
            padding: 0
        };
        vegaEmbed("#" + div, url, opt, function (error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    //Parse your Json variable here
    parse({{ context.plot_chlorepleth | safe }}, "plot_chlorepleth")
</script>
{% endblock my_content %}